.blog-post-section {
    display: flex;
    flex-direction: column;
    gap: var(--gap-between-posts);
    padding-top: calc(var(--gap-between-posts));
    padding-left: var(--site-padding);
    padding-right: var(--site-padding);
}