body {
    margin: 0;
    width: 100%;
    background: var(--secondary-color);
    font-family: 'Roboto', sans-serif;

    --max-content-width: 950px;
    --header-height: 3.5em;
    --header-padding-outwards: 0.5em;
    --header-padding-inwards: 0.25em;
    --header-controls-gap: 0.5em;
    --logo-size: 3em;
    --max-search-bar-width: 950px;
    --gap-between-posts: 2em;
    --site-padding: 0.5em;
    --post-padding: 1.5em;
    --post-title-font-size: 18px;
    --post-action-height: 28px;
    --post-action-icon-size: 20px;
    --post-action-gap: 0.5em;
    --button-border-radius: 8px;
    --button-padding: 0.5em;
    --quick-create-padding: 0.75em;
    --clear-button-padding: 0.5em;
    --clear-button-size: 15px;
}

.light {
    --primary-color: #ffffff;
    --secondary-color: #eeeeee;
    --text-color: #222222;
    --secondary-text-color: #808080;
    --highlight-color: #eeeeee;
    --button-border-color: #eeeeee;
    --button-primary-color: #ffffff;
    --button-primary-background-color: #0079D3;
}

.dark {
    --primary-color: #3c3f41;
    --secondary-color: #1A1A1B;
    --text-color: #d7dadc;
    --secondary-text-color: #818384;
    --highlight-color: #d7dadc1a;
    --button-border-color: #1A1A1B;
    --button-primary-color: #d7dadc;
    --button-primary-background-color: #0079D3;
}